html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

p, pre {
    margin: 8px;
}

pre {
    background: #f0f0f0;
    padding: 8px;
}

#uploader label, #solver label {
    font-weight: bold;
}

.instructions {
    font-size: small;
}

.log {
    background: #ddd;
    padding: 8px;
}

.error {
    color: red;
    font-weight: bold;
}

section {
    padding: 10px;
}

#status-bar progress {
    width: 100%;
}

#status-bar label {
    display: block;
}

#uploader {
    background: #ccc;
}

#result table {
    float: left;
    border: 1px solid grey;
}

#result td, #result th {
    padding: 5px;
}

#result th {
    background: #f0f0f0;
}
